@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,200,100);
@font-face {
  font-family: 'Open Sans Light';
  src: url("OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("OpenSans-Regular.ttf");
}

/* line 122, icons/*.png */
.icons-sprite, .icons-facebook, .icons-linkedin, .icons-location, .icons-mail, .icons-spotify, .icons-telephone, .icons-twitter {
  background: url('../img/icons-sf6d22f9f3f.png') no-repeat;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -210px;
}
/* line 43, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook:hover, .icons-facebook.facebook_hover, .icons-facebook.facebook-hover {
  background-position: 0 -180px;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin {
  background-position: 0 0;
}
/* line 43, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin:hover, .icons-linkedin.linkedin_hover, .icons-linkedin.linkedin-hover {
  background-position: 0 -150px;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-location {
  background-position: 0 -280px;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail {
  background-position: 0 -240px;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-spotify {
  background-position: 0 -60px;
}
/* line 43, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-spotify:hover, .icons-spotify.spotify_hover, .icons-spotify.spotify-hover {
  background-position: 0 -30px;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-telephone {
  background-position: 0 -260px;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -120px;
}
/* line 43, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter:hover, .icons-twitter.twitter_hover, .icons-twitter.twitter-hover {
  background-position: 0 -90px;
}

/* line 7, ../sass/sections.scss */
body {
  color: #424242;
  font: normal 15px "Open Sans Light", arial, sans-serif;
  font-weight: 100;
  font-smoothing: antialiased;
}
/* line 13, ../sass/sections.scss */
body h1, body h2, body h3, body h4 {
  margin: 0;
}
/* line 17, ../sass/sections.scss */
body a {
  text-decoration: none;
  cursor: default;
}
/* line 22, ../sass/sections.scss */
body #preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}
/* line 32, ../sass/sections.scss */
body #status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(../img/status.gif) no-repeat center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
/* line 43, ../sass/sections.scss */
body .main .section-title {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 50px;
  color: #666;
}
/* line 52, ../sass/sections.scss */
body .main .dash {
  display: block;
  height: 2px;
  width: 80px;
  background: #4eb1ba;
  margin: 0 auto;
}
/* line 61, ../sass/sections.scss */
body .container {
  max-width: 990px;
  width: 92%;
  margin: 0px auto;
  position: relative;
  zoom: 1;
}
/* line 69, ../sass/sections.scss */
body .content {
  padding-top: 140px;
  text-align: center;
}
/* line 74, ../sass/sections.scss */
body .sub-heading {
  margin: 48px auto;
  max-width: 1024px;
}
/* line 79, ../sass/sections.scss */
body .animated {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 83, ../sass/sections.scss */
body .ae-animation-slide {
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 1 !important;
}
/* line 89, ../sass/sections.scss */
body .slide {
  opacity: 0;
}
/* line 92, ../sass/sections.scss */
body html.ie9 .slide {
  opacity: 1 !important;
}

/* line 98, ../sass/sections.scss */
.title {
  background: url("../img/intro.jpg");
  background-size: cover;
}
/* line 102, ../sass/sections.scss */
.title .title-wrapper {
  text-align: center;
}
/* line 105, ../sass/sections.scss */
.title .title-wrapper .intro-slider {
  list-style: none;
  height: 98px;
  overflow: hidden;
  text-transform: uppercase;
}
/* line 111, ../sass/sections.scss */
.title .title-wrapper .intro-slider span {
  display: block;
  height: 90px;
  font-size: 50px;
  font-weight: 300;
  cursor: default;
  color: #4eb1ba;
}
/* line 121, ../sass/sections.scss */
.title .title-wrapper .learn-more {
  margin: 0 auto;
  width: 235px;
  padding-top: 40px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}
/* line 130, ../sass/sections.scss */
.title .title-wrapper .learn-more a {
  text-decoration: none;
  padding: 20px 65px;
  border: 1px solid #4eb1ba;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  -webkit-transition: background-color 200ms ease-in;
  -moz-transition: background-color 200ms ease-in;
  -o-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}
/* line 138, ../sass/sections.scss */
.title .title-wrapper .learn-more a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 146, ../sass/sections.scss */
.about {
  position: relative;
  background: url("../img/about2.jpg") 50% 0 no-repeat;
  height: 850px;
}
/* line 152, ../sass/sections.scss */
.about .about-projects {
  background: url("../img/about-projects.png") no-repeat center;
  background-size: 100%;
  max-width: 100%;
  height: 330px;
  margin-top: 150px;
}

/* line 161, ../sass/sections.scss */
.portfolio {
  position: relative;
  background: url("../img/portfolio-blur.jpg") 50% 0 no-repeat fixed;
  height: 1100px;
}
/* line 167, ../sass/sections.scss */
.portfolio .content .section-title {
  color: #fff;
}
/* line 171, ../sass/sections.scss */
.portfolio .project-description {
  width: 533px !important;
  height: 400px !important;
  margin-left: 200px;
  color: #fff;
}
/* line 177, ../sass/sections.scss */
.portfolio .project-description .project-details {
  list-style: none;
  position: absolute;
  top: 85px;
  left: 150px;
  text-align: left;
  font-size: 10px;
  filter: alpha(opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  opacity: 0.8;
  -moz-opacity: 0.80;
}
/* line 190, ../sass/sections.scss */
.portfolio .project-description .project-info {
  position: absolute;
  top: 160px;
  padding: 0 20px;
  text-align: justify;
  font-size: 14px;
}
/* line 198, ../sass/sections.scss */
.portfolio .project-description .project-header {
  width: 493px;
  height: 400px;
  margin: 0;
  padding: 0 20px;
  background: url("../img/project-description.jpg") no-repeat;
  filter: alpha(opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  opacity: 0.8;
  -moz-opacity: 0.80;
}
/* line 210, ../sass/sections.scss */
.portfolio .project-description .project-header .project-number {
  float: left;
  font-size: 80px;
  font-style: italic;
  padding: 30px 0 30px 5px;
}
/* line 217, ../sass/sections.scss */
.portfolio .project-description .project-header .project-title {
  position: absolute;
  line-height: 131px;
  text-transform: uppercase;
  font-size: 26px;
  padding-bottom: 10px;
  left: 190px;
}
/* line 227, ../sass/sections.scss */
.portfolio .project-description .arrow {
  background: url("../img/arrow.png") no-repeat 50%;
  width: 100px;
  height: 100px;
  top: 320px;
  left: 43%;
  position: absolute;
}

/* line 238, ../sass/sections.scss */
.footer {
  height: 450px;
  width: 100%;
  background: url("../img/sunset2.jpg") no-repeat;
}
/* line 243, ../sass/sections.scss */
.footer .footer-container {
  background: url("../img/down.png") no-repeat;
  height: 450px;
}
/* line 248, ../sass/sections.scss */
.footer ::selection {
  background: rgba(78, 177, 186, 0.35);
  color: #4eb1ba;
}
/* line 253, ../sass/sections.scss */
.footer .section-title {
  padding-top: 80px;
}
/* line 257, ../sass/sections.scss */
.footer .contact-hatch {
  list-style: none;
  padding: 100px 0 0;
  margin: 0 20px;
  text-align: center;
  opacity: 1;
}
/* line 264, ../sass/sections.scss */
.footer .contact-hatch li {
  display: inline-block;
  margin: 0 30px;
  opacity: 0.5;
  cursor: crosshair;
  height: 77px;
  *display: inline;
}
/* line 272, ../sass/sections.scss */
.footer .contact-hatch li:hover {
  opacity: 1;
}
/* line 278, ../sass/sections.scss */
.footer .contact-hatch .icons-telephone,
.footer .contact-hatch .icons-mail,
.footer .contact-hatch .icons-location {
  display: inline-block;
  height: 20px;
  width: 20px;
  *display: inline;
}
/* line 286, ../sass/sections.scss */
.footer .contact-hatch .phone p,
.footer .contact-hatch .mail p,
.footer .contact-hatch .location p {
  color: #fff;
  font-size: 13px;
}
/* line 291, ../sass/sections.scss */
.footer .contact-hatch .location a,
.footer .contact-hatch .mail a {
  text-decoration: none;
  cursor: crosshair;
}
/* line 297, ../sass/sections.scss */
.footer p {
  margin: 0;
  padding-top: 10px;
}
/* line 302, ../sass/sections.scss */
.footer .info {
  max-width: 990px;
  height: 180px;
  margin: 0 auto;
  text-align: center;
}
/* line 308, ../sass/sections.scss */
.footer .info .social-links {
  list-style: none;
  padding: 50px 0;
}
/* line 312, ../sass/sections.scss */
.footer .info .social-links li {
  display: inline-block;
  margin: 0 30px;
  *display: inline;
}
/* line 317, ../sass/sections.scss */
.footer .info .social-links li span {
  position: relative;
  /* To animate the `top` position */
  display: block;
  height: 30px;
  width: 30px;
}
/* line 326, ../sass/sections.scss */
.footer .info .copyright {
  text-transform: uppercase;
  text-align: center;
  margin: 85px 15px 0 15px;
  padding-bottom: 10px;
}
/* line 332, ../sass/sections.scss */
.footer .info .copyright p {
  color: #4eb1ba;
  letter-spacing: 0.20em;
  margin: 0;
  font-size: 0.8em;
  font-weight: 400;
}

@media (max-width: 600px) {
  /* line 345, ../sass/sections.scss */
  body .ae-animation-slide {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    opacity: 1 !important;
  }
  /* line 351, ../sass/sections.scss */
  body .content {
    padding-top: 70px;
  }

  /* line 359, ../sass/sections.scss */
  .about .about-projects {
    background: url("../img/about-projects-small.png") no-repeat;
    background-size: 100%;
    height: 660px;
    max-width: 100%;
    margin-top: 0;
  }

  /* line 369, ../sass/sections.scss */
  .footer .contact-hatch {
    margin: 2px;
  }
  /* line 371, ../sass/sections.scss */
  .footer .contact-hatch li {
    margin: 0 10px;
  }
  /* line 375, ../sass/sections.scss */
  .footer .contact-hatch li:first-child {
    margin-left: 0;
  }
  /* line 379, ../sass/sections.scss */
  .footer .contact-hatch li:last-child {
    margin-right: 0;
  }
  /* line 383, ../sass/sections.scss */
  .footer .contact-hatch li p {
    font-size: 11px !important;
  }
  /* line 389, ../sass/sections.scss */
  .footer .info .social-links {
    padding: 50px 0;
    margin: 0;
  }
  /* line 393, ../sass/sections.scss */
  .footer .info .social-links li {
    margin: 0 10px;
  }
}
@media (max-width: 480px) {
  /* line 402, ../sass/sections.scss */
  .title .title-wrapper .learn-more a {
    padding: 20px 40px;
  }

  /* line 407, ../sass/sections.scss */
  .info .copyright {
    margin-top: 55px !important;
  }
}
@media (max-width: 324px) {
  /* line 415, ../sass/sections.scss */
  .info .copyright {
    margin-top: 5px !important;
  }
}
